<div class="mx-3">
  <h5 class="mt-2">Registration Form</h5>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    {{f['nomineeDetails'].get('dob')?.value}}
    <app-form [param]="param" />
    <form formGroupName="nomineeDetails" class="my-3" *ngIf="f['nominee'].value">
      <h6>Nominee Details</h6>
      <app-form [param]="nomineeParam" />
    </form>
    <form formGroupName="guardianDetails" class="my-3" *ngIf="needGuardian">
      <h6>Guardian Details</h6>
      <app-form [param]="guardianParam" />
    </form>

    <div class="text-center">
      <button class="btn btn-primary my-2" type="submit">Submit</button>
    </div>
  </form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>User Details</th>
      <th>ID Proof</th>
      <th>Address</th>
      <th>Other Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userDetails">
      <td>{{item.fname +' ' +item.lname | titlecase }}</td>
      <td>
        <div><i class="fas fa-birthday-cake me-2"></i>{{item.dob}}</div>
        <div *ngIf="item.email"><i class="fas fa-envelope me-2"></i>{{item.email}}</div>
        <div><i class="fas fa-phone-alt me-1"></i>{{item.mobile}}</div>
      </td>
      <td>{{item.idType | titlecase}} - {{item.id}}</td>
      <td>
        {{item.address.address1}} <i class="fas fa-map-signs ms-1 fs-12" *ngIf="item.landmark" placement="top" [ngbTooltip]="'Landmark : '+item.landmark"></i>
        <div *ngIf="item.address.address2">{{item.address.address2}} ,</div>
        <div *ngIf="item.address.address3">{{item.address.address3}} ,</div>
        <div>{{item.state}}, {{item.city}}</div>
      </td>
      <td>
        <i *ngIf="item.guardianDetails.fname, else elseBlock" class="fas fa-users c-pointer" (click)="openPopup(item,'guardian')"></i>
        <ng-template #elseBlock>
          <i *ngIf="item.nominee , else noBlock" class="fas fa-user c-pointer" (click)="openPopup(item,'nominee')"></i>
          <ng-template #noBlock>-</ng-template>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
</div>